{% extends 'base.jinja' %}

<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script>var socketio_host = '{{ socketio_host }}';</script>
    <script src="/static/donations.js"></script>

    <style>
        body {
            /*background: url('https://pp.vk.me/c628529/v628529424/3f3c6/MhMX0F-yChM.jpg') 50% -500px;*/
        }
        #widget {
            font-family: Arial, Serif;
            width: 500px;
            height: 350px;
            /*background: rgba(255, 255, 255, .5);*/
        }
        .title {
            font-size: 33px;
            color: #ff6e00;
            text-shadow: 0px 0px 3px rgba(255,255,255, 1);
            margin-bottom: 20px;
        }
        .text {
            font-size: 15px;
            font-weight: normal;
            color: #FFFFFF;
            text-shadow: 0px 0px 3px rgba(0,0,0, .8);
        }
    </style>
    {% block content %}
        hello
    {% endblock %}
    <div id="widget"></div>
</body>
</html>
